@keyframes boxOpen {
	0%		{ border-radius: 50%; opacity: 1; }
	49%		{ opacity: 1; }
	50%		{ opacity: 0; border-radius: 0px; }
	100%	{ opacity: 0; }
}
@keyframes boxClose {
	0%		{ opacity: 0; }
	49%		{ opacity: 0; border-radius: 0px; }
	50%		{ opacity: 1; }
	100%	{ border-radius: 50%; opacity: 1; }
}
@keyframes inputOpen {
	0%		{ width: 30px; opacity: 0; }
	49%		{ opacity: 0; }
	50%		{ opacity: 1; width:30px; left: 0; }
	90%		{ width: 300px; left: calc(50% - 150px); }
	100%	{ width: 300px; left: calc(50% - 150px); }
}
@keyframes inputClose {
	0%		{ opacity: 1; width:300px; left: calc(50% - 150px); }
	10%		{ opacity: 1; width:300px; left: calc(50% - 150px); }
	49%		{ opacity: 1; width: 30px; left: 0; }
	50%		{ opacity: 0; width: 30px; left: 0; }
	100%	{ opacity: 0; width: 30px; left: 0; }
}
@keyframes span2Open {

	0%		{ top:30px; height: 15px; left: 34px; }
	50%		{ top: 6px;	height: 25px; left: 16px; }
	90%		{ top: 6px;	height: 25px; left: calc(50% + 136px); }
	100%	{ top: 6px;	height: 25px; left: calc(50% + 136px); }
}
@keyframes span2Close {
	0%		{ top: 6px;	height: 25px; left: calc(50% + 136px); }
	10%		{ top: 6px;	height: 25px; left: calc(50% + 136px); }
	50%		{ top: 6px;	height: 25px; left: 16px; }
	100%	{ top:30px; height: 15px; left: 34px; }
}
@keyframes span3Open {
	0%		{ opacity: 0; transform: rotate(-45deg); left: 16px; }
	90%		{ opacity: 0; transform: rotate(-45deg); left: calc(50% + 136px); }
	91%		{ opacity: 1; transform: rotate(-45deg); left: calc(50% + 136px); }
	100%	{ opacity: 1; transform: rotate( 45deg); left: calc(50% + 136px); }
}
@keyframes span3Close {
	0%		{ opacity: 1; transform: rotate( 45deg); left: calc(50% + 136px); }
	9%		{ opacity: 1; transform: rotate(-45deg); left: calc(50% + 136px); }
	10%		{ opacity: 0; transform: rotate(-45deg); left: calc(50% + 136px); }
	100%	{ opacity: 0; transform: rotate(-45deg); }
}

body{
	height: auto;
	width: 100%;
	position: relative;
	display: block;
	margin: 10px 0;
	background: #3b8ac6;
}
span#testBar{
	position: absolute;
	display: block;
	height: 0;
	width: 5px;
	border: none;
	border-top: 25px solid #000;
	border-bottom: 25px solid transparent;
}
form{
	position: absolute;
	top: 140px;
	left: calc(25% - 40px);
}
nav{
	position: fixed;
	height: 100vh;
	top: 0;
	width: 300px;
	left: -200px;
	color: #FFF;
	background: #3a3a3a;
	border-right: 4px solid #ff5d00;
	transition: all 0.25s;
}
nav:hover{
	left: 0;
}
#navContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 98vh;
}
nav span{
	color: #FFF;
	transform: rotate(-90deg);
}
nav ul{
	padding: 0;
	position: relative;
	left: -60px;
}
nav ul li{
	margin: 20px auto;
	list-style: none;
}
nav ul li a:link,
nav ul li a:visited{
	height: 20px;
	color: #FFF;
	text-decoration: none;
}
nav ul li a:hover{
	color: #ff5d00;
}
nav #titleBar{
	position: absolute;
	top: calc(50% - 35px);
	transform: rotate(-90deg);
	right: 0;
}

.bumper {
	height: auto;
	width: calc(50% - 40px);
	margin: 10px;
	float: left;
	position: relative;
}
.eyeglassContainer{
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
}
#trigger{
	height: 40px;
	width: 40px;
	position: absolute;
	display: block;
	z-index: 10;
	left: calc(50% - 20px);
}
#trigger.js-searchActive{
	left: calc(50% + 120px);
}
#trigger:hover{
	cursor: pointer;
}
.eyeglassContainer input,
.eyeglassContainer span:nth-child(1){
	width: 30px;
	height: 30px;
	position: absolute;
	background: transparent;
	border: 3px solid #d5d5d5;
	border-radius: 50%;
	display: block;
}
.eyeglassContainer span:nth-child(1){
	animation-name: boxClose;
	animation-duration: 0.9s;
}
.eyeglassContainer.js-searchActive span:nth-child(1){
	border-radius: 0px;
	opacity: 0;
	animation-name: boxOpen;
	animation-duration: 0.9s;
}
.eyeglassContainer input{
	transition: box-shadow 0.5s 0.2s;
	animation: inputClose 1s;
	background: #61a0d1;
	color: #FFF;
	font-family: 'Varela Round';
	border-radius: 0px;
	text-indent: 10px;
	width: 30px;
	opacity: 0;
}
.eyeglassContainer input:placeholder-shown{
	color: #E5E5E5;
}
.eyeglassContainer input:focus{
	box-shadow: 0 0 8px #FFF;
	transition: box-shadow 0.5s 0.2s;
}
.eyeglassContainer.js-searchActive input{
	opacity: 1;
	width: 300px;
	left: calc(50% - 150px);
	animation: inputOpen 1s;
}
.eyeglassContainer span:nth-child(2){
	position: absolute;
	display: block;
	z-index: 1;
	height: 15px;
	width: 4px;
	top: 30px;
	left: 34px;
	border: none;
	background: #d5d5d5;
	transform: rotate(-45deg);
	animation: span2Close 1s;
}
.eyeglassContainer.js-searchActive span:nth-child(2) {
	top: 6px;
	height: 25px;
	animation: span2Open 1s;
	left: calc(50% + 136px);
}
.eyeglassContainer span:nth-child(3){
	position: absolute;
	height: 25px;
	z-index: 1;
	width: 4px;
	top: 6px;
	left: 16px;
	opacity: 0;
	border: none;
	display: block;
	background: #d5d5d5;
	transform: rotate(-45deg);
	animation: span3Close 1s linear;
}
.eyeglassContainer.js-searchActive span:nth-child(3){
	opacity: 1;
	left: calc(50% + 136px);
	transform: rotate(45deg);
	animation: span3Open 1s linear;
}

/* Anitmated links */
#topNavbar{
	width: 80%;
	height: 30px;
	position: absolute;
	top: 0;
	left: 15%;
}
.navButton{
	position: relative;
	height: 63px;
	width: 25%;
	display: block;
	float: left;
	padding:0;
}
a.animatedLink:link,
a.animatedLink:visited{
	font-family: 'Varela Round';
	position: absolute;
	top: 0;
	width: calc(100% - 30px);
	text-align: center;
	left: auto;
	border: 2px solid #333;
	background: #FFF;	
	color: #969696;
	padding: 20px 15px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	overflow: hidden;
	z-index: 0;
	transition: all 0.4s;
	text-indent: 0;
}
a.animatedLink:hover{
	color: #FFF;
}
a.animatedLink span#words,
a.animatedLink span#arrow{
	position: relative;
	left: 0;
	transition: all 0.4s;
}
a.animatedLink:hover span#words{
	left: -2px;
}
a.animatedLink:hover span#arrow{
	left: 2px;
}
a.animatedLink::before{
	height: 400px;
	display: block;
	position: absolute;
	background: #999;
	width: 0;
	content: ' ';
	border:none;
	left: -50px;
	top: -100px;
	border-right: 50px solid #bbe3b5;
	transform: rotate(-25deg);
	transition: all 0.5s;
	z-index: -1;
}
a.animatedLink:hover::before{
	left: 0;
	width: calc(100% + 50px);
	transform: rotate(0deg);
}
/*SHADED BOXES*/
.slick-arrow{
	position: absolute;
	top: -3px;
	z-index: 1;
	height: calc(100% + 5px);
	width: 50px;
	color: transparent;
	border: 2px solid #333;
	border: none;
    background: #0e0e0e url('newArrow.jpg') no-repeat center center / cover;
    opacity: 0.9;
}
.slick-arrow:hover{
	opacity: 1;
	cursor: pointer;
    transition: opacity 0.35s;
}
.slick-prev{
	left: -50px;
	border-right: none;
	transform: rotate(-180deg);
}
.slick-next{
	right: -50px;
	border-left: none;
}
.slick-dots{
	width: auto;
	margin: 0 auto;
	list-style: none;
}
.slick-dots li{
	float: left;
	width: auto;
}
.slick-dots li button{
	color: transparent;
	border: none;
	margin: 0 5px;
	border-radius: 50%;
	height: 8px;
	width: 8px;
}
@keyframes arrowShow {
	0%		{ display: none; opacity: 0; }
	1%		{ display: block; opacity: 0; }
	100%	{ opacity: 1; }
}


.boxContainer{
	position: absolute;
	width: calc(75% - 80px);
	height: 181px;
	margin: 35px 0;
	border:3px solid #000;
	background: #000;
	top: 200px;
	left: 10%;
	overflow: hidden;
}
.boxContainer .shadedBox{
	width: 150px;
	height: 146px;
	float: left;
	text-align: center;
	opacity: 0.9;
	transition: all 0.25s;
}
.boxContainer .shadedBox:hover{
	opacity: 1;
}
.boxContainer:nth-of-type(1) .shadedBox{
	background: #c33409;
}
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+9),
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+1){
	background: #e03e0b;
}
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+8),
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+2){
	background: #f4420b;
}
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+7),
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+3){
	background: #f55524;
}
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+6),
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+4){
	background: #f6673c;
}
.boxContainer:nth-of-type(1) .shadedBox:nth-child(10n+5){
	background: #f77a55;
}
.boxContainer:nth-of-type(2) .shadedBox{
	background: #c78d05;
}
.boxContainer:nth-of-type(2) .shadedBox:nth-child(10n+9),
.boxContainer:nth-of-type(2) .shadedBox:nth-child(10n+1){
	background: #e09e06;
}
.boxContainer:nth-of-type(2) .shadedBox:nth-child(10n+8),
.boxContainer:nth-of-type(2) .shadedBox:nth-child(10n+2){
	background: #f3ac06;
}
.boxContainer:nth-of-type(2) .shadedBox:nth-child(10n+7),
.boxContainer:nth-of-type(2) .shadedBox:nth-child(10n+3){
	background: #f9b006;
}
.boxContainer:nth-of-type(3) .shadedBox{
	background: #798303;
}
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+9),
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+1){
	background: #8a9603;
}
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+8),
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+2){
	background: #a1af04;
}
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+7),
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+3){
	background: #b8c804;
}
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+6),
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+4){
	background: #cfe105;
}
.boxContainer:nth-of-type(3) .shadedBox:nth-child(10n+5){
	background: #e6fa05;
}

.boxContainer:nth-of-type(4) .shadedBox{
	background: #3b5c2f;
}
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+9),
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+1){
	background: #416534;
}
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+8),
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+2){
	background: #4c763d;
}
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+7),
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+3){
	background: #578745;
}
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+6),
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+4){
	background: #62974e;
}
.boxContainer:nth-of-type(4) .shadedBox:nth-child(10n+5){
	background: #6ca857;
}

.boxContainer:nth-of-type(5) .shadedBox{
	background: #1c4429;
}
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+9),
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+1){
	background: #1e482c;
}
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+8),
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+2){
	background: #255b37;
}
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+7),
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+3){
	background: #2c6d42;
}
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+6),
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+4){
	background: #347f4d;
}
.boxContainer:nth-of-type(5) .shadedBox:nth-child(10n+5){
	background: #3b9158;
}

@media screen and (max-width: 1000px){

	#navButton{
		padding:2.5px;
		clear: both;
	}
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}